$font-path: "../fonts";

%icon-fonts {
  display: inline-block;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  @include font-smoothing;
}

.icon {
  @extend %icon-fonts;
  font-family: FontAwesome;
}

@import "fonts/fontawesome";
// @import "fonts/fira_sans";
//@import "fonts/lora";
//@import "fonts/merriweather";
@import "fonts/open-sans";
//@import "fonts/open-sans-condensed";

// @import "fonts/beon";
// @import "fonts/dancing_script";
// @import "fonts/helvetia_verbundene";
// @import "fonts/kaushan_script";
// @import "fonts/medio";
// @import "fonts/ocra";
// @import "fonts/osifont";
// @import "fonts/pressuru";
// @import "fonts/raleway";
// @import "fonts/tgl";
// @import "fonts/unna";
// @import "fonts/simple_print";
// @import "fonts/victors";