@import "bourbon";
@import "normalize";

@import "functions/all";
@import "mixins/all";

@import "fonts";

@import "utilities";

//$cssAnimPath: "../../vendors/animate";

// Always required
@import 
  "../../vendors/animate/properties";

// Import the animations
@import 
  "../../vendors/animate/_attention-seekers/shake.scss",
  "../../vendors/animate/_bouncing-entrances/bouncing-entrances.scss",
  "../../vendors/animate/_bouncing-exits/bouncing-exits.scss",
  "../../vendors/animate/_fading-entrances/fading-entrances.scss",
  // "../../vendors/animate/_fading-exits/fading-exits.scss",
  // "../../vendors/animate/_flippers/flippers.scss",
  // "../../vendors/animate/_lightspeed/lightspeed.scss",
  // "../../vendors/animate/_rotating-entrances/rotating-entrances.scss",
  // "../../vendors/animate/_rotating-exits/rotating-exits.scss",
  // "../../vendors/animate/_specials/specials.scss",
  "../../vendors/animate/_zooming-entrances/zooming-entrances.scss",
  "../../vendors/animate/_sliding-entrances/sliding-entrances.scss";


// Options
$green: #8dae28;
$grey: #f0f0f0;
$red: #B3000A;

$padding: 10px;

@import "modules/sidebar";

html, body {
  height: 100%;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#mindmap {
  display: none;
  height: 100%;
  #content {
    //@include zoomIn();
  }
}

#upload {
  position: relative;
  height: 100%;
  #dropzone {
    background: #f0f0f0;
    @include transition(all 200ms ease-in-out);
    border: 3px dashed $green;
    @include border-radius(50%);
    position: absolute;
    top: 50%;
    margin-top: -250px;
    //@include transform(translateY(-50%));
    left: 50%;
    margin-left: -250px;
    height: 500px;
    width: 500px;
    text-align: center;
    span {
      position: absolute;
      top: 50%;
      display: block;
      width: 100%;
      margin-top: -10px;
      margin-left: -20px;
    }

    [type="file"] {
      cursor: pointer;
      position: absolute;
      opacity: 0;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }

    &.hover {
      border-style: solid;
      @include transform(scale(1.1));
    }

    &:hover {
      @include transform(scale(1.05));
    }

    &.dropped {
      border: 0px solid;
    }
    &.success {
      @include bounceOut();
    }

    &.error {
      @include shake();
      border-color: $red;
    }
  }
}

/*===========================================
=            ENVIRONMENT CLASSES            =
===========================================*/


#content {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
}

#path {
  background: RGBA(255, 255, 255, .5);
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  padding: 5px 0;
  font-size: 13px;
  white-space: nowrap;
  text-align: center;
  z-index: 9;
  min-height: 23px;
  .content {
    overflow: auto;
    padding-right: $padding;
    padding-left: $padding;
  }
  .active {
    font-weight: bold;
  }
  button {
    background: rgba(0, 0, 0, .09);
    border: none;
    @include border-radius(5px);

    &:hover {
      background: RGBA(255, 255, 255, .7);
    }

    &:focus {
      outline: 0;
    }
  }
  .divider {
    padding-right: .45em;
    padding-left: .45em;
    color: #828f96;
    @extend .icon-angle-right;
  }
}



#menubutton {
  position: absolute;
  top: 4px;
  right: 4px;
  z-index: 999;
  text-transform: uppercase;
}

#searchterm {
  position: absolute;
  top: 38px;
  right: 5px;
  z-index: 9;
  text-transform: uppercase;
  display: none;
  @extend .icon-search;
  &:before {
    margin-right: 5px;
    width: 10px;
  }
  &.show {
    display: block;
  }
  &:hover {
    @extend .icon-close;
  }
}

#toRoot {
  position: absolute;
  bottom: 10px;
  right: 10px;
  z-index: 9;
  text-transform: uppercase;
}

.button {
  border: 2px solid rgba(0,0,0,.1);
  color: #000;
  //fpadding: 4px 10px;
  background: rgba(0, 0, 0, .09);
  border-radius: 5px;
  cursor: pointer;
  font-size: 12px;

  &:hover:not(:disabled) {
    background: #fff;
  }

  &:disabled {
    opacity: 0.3;
    cursor: no-drop;
  }

  &:focus {
    outline: 0;
  }
}

.d3-tip {
  line-height: 1;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  font-size: 12px;
  border-radius: 2px;
  position: relative;
  z-index: 10;

  &:after {
    box-sizing: border-box;
    display: inline;
    font-size: 10px;
    width: 100%;
    line-height: 1;
    color: rgba(0, 0, 0, 0.8);
    content: "\25BC";
    position: absolute;
    text-align: center;
  }
  &.n:after {
    margin: -1px 0 0 0;
    top: 100%;
    left: 0;
  }

  &.animate {
    //animation: fadeInUp 0.2s ease-out;
    //-webkit-animation: fadeInUp 0.2s ease-out;
  }
}


/*==============================================
=            NODE AND LABEL CLASSES            =
==============================================*/

.node {
  cursor: pointer;
  @include transition(opacity 200ms ease-out);

  /**
   * Node styling subclasses
   */

  // This is the Mother of all Nodes.
  &.root {
    //pointer-events: none; // important to prevent default behavior
    fill: $grey !important;
    &.hide {
      opacity: .4;
    }
  }

  // This is a node without any childnodes
  &.leaf {
    fill: white;
    pointer-events: none; // important to prevent default behavior
  }

  &.even {

  }

  &.odd {

  }

  &.active {
    stroke: #fff;
    stroke-width: 1.5px;
  }
  
  /**
   * Node status subclasses
   */
  
  &:hover, &.hover {
    stroke: #000;
    stroke-width: 1.5px;
  }

  &.hide {
    opacity: .12;
  }
  
}

.label {
  pointer-events: none; // important to prevent default behavior
  font-size: 14px;
  text-anchor: middle;
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff, 0 -1px 0 #fff;
  
  tspan {
    text-anchor: middle;
  }

  &.hide {
    opacity: .2;
  }
}

.hide-visited .node.visited {
  opacity: 0.3;
  fill: darken($grey, 10%) !important;
}

.tgl {
  display: none;
}

.tgl,
.tgl *,
.tgl :after,
.tgl :before,
.tgl+.tgl-btn,
.tgl:after,
.tgl:before {
  box-sizing: border-box;
}

.tgl ::selection,
.tgl :after::selection,
.tgl :before::selection,
.tgl+.tgl-btn::selection,
.tgl::selection,
.tgl:after::selection,
.tgl:before::selection {
  background: 0 0;
}

.tgl + .tgl-btn {
  outline: 0;
  display: inline-block;
  width: 3em;
  height: 1.5em;
  margin-right: 1em;
  position: relative;
  cursor: pointer;
  vertical-align: bottom;
  -ms-user-select: none;
  user-select: none;

  background: darken($grey, 10%);
  border-radius: 2em;
  padding: 2px;
  transition: all .4s ease;
}

.tgl + .tgl-btn:after, .tgl + .tgl-btn:before {
  position: relative;
  display: block;
  content: "";
  width: 50%;
  height: 100%;
}

.tgl + .tgl-btn:after {
  left: 0;
  border-radius: 50%;
  background: #fff;
  transition: all .2s ease;
}

.tgl + .tgl-btn:before {
  display: none;
}

.tgl:checked + .tgl-btn:after {
  left: 50%;
}

.tgl:checked + .tgl-btn {
  background: $green;
}