@import
  "0-protons/all",
  "1-core/all",
  "2-atoms/all",
  "3-molecules/all",
  "4-organisms/all",
  "5-templates/all",
  "6-pages/all";

html, body {
  height: 100%;
  font-family: $font-family;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}