.d3-tip {
  line-height: 1;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  font-size: $font-size-small;
  border-radius: 3px;
  position: relative;
  z-index: 10;
  opacity: 0 !important;

  &:after {
    box-sizing: border-box;
    display: inline;
    font-size: 10px;
    width: 100%;
    line-height: 1;
    color: rgba(0, 0, 0, 0.8);
    content: "\25BC";
    position: absolute;
    left: 0;
    margin-left: -25%;
    top: 100%;
    margin: -1px 0 0 0;
    text-align: center;
  }

  &.show {
    @include transition(opacity 200ms ease-out);
    opacity: 1 !important;
  }

  &.no-delay {
    opacity: 1 !important;
  }
}

.hide-tooltip {
  .d3-tip {
    display: none !important;
  }
}