.label {
  pointer-events: none; // important to prevent default behavior
  font-size: $font-size-large;
  opacity: 1;

  &.hide text {
    opacity: .2;
  }
  rect {
    opacity: .7;
  }
  text-anchor: middle;
}

.hide-labels .label text {
  opacity: 0;
}