.button-group {
  margin-top: 5px;
  margin-bottom: 5px;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  &:not(.justified) {
     @include clearfix;
  }
  button, .button, div button {
    float: left;
    &:first-child:not(:last-child):not(.dropdown-toggle) {
      @include border-right-radius(0);
      margin-right: 1px;
    }
    &:not(:first-child):not(:last-child):not(.dropdown-toggle) {
      @include border-radius(0);
      margin-right: 1px;
    }
    &:last-child:not(:first-child):not(.dropdown-toggle) {
      @include border-left-radius(0);
    }

  }
  div {
    button {
      width: 100%;
      margin: 0;
    }
  }
  &.justified {
    display: table;
    width: 100%;
    table-layout: fixed;
    border-collapse: separate;
    border-spacing: 1px;

    > button, > .button, > div {
      display: table-cell;
      margin: 0;
      float: none;
      width: 1%;
      text-align: center;
      &:before {
        @include box-sizing(border-box);
      }
      &:after {
        @include box-sizing(border-box);
      }
    }
  }
}

button.danger, .button.danger {
    background: $red;
    color: #fff;
    border-color: $red;
    &:hover {
      background: lighten($red, 5%);
    }
  }