#mindmap {
  display: none;
  height: 100%;
  width: 100%;
  overflow: hidden;
  //position: fixed;

  #content {
    //@include zoomIn();
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
  }

  #menubutton {
    position: absolute;
    top: 4px;
    right: $padding;
    z-index: 999;
    text-transform: uppercase;
  }

  #searchterm {
    position: absolute;
    top: 38px;
    right: $padding;
    z-index: 9;
    text-transform: uppercase;
    display: none;
    @extend .icon-search;
    &:before {
      margin-right: 5px;
      width: 10px;
    }
    &.show {
      display: block;
    }
    &:hover {
      @extend .icon-close;
    }
  }

  #toRoot {
    position: absolute;
    bottom: 5px;
    right: $padding;
    z-index: 9;
    text-transform: uppercase;
  }
}