@import
  "bourbon",
  "normalize",
  "functions/all",
  "mixins/all",
  "fonts/fonts",
  "animations/animations",
  "utilities",
  "settings";

*:not(input), *:before, *:after {
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}