// Colors
$green: #8dae28;
$grey: #f0f0f0;
$red: #B3000A;

// Measurements
$padding: 10px;

// Typography
$font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif, sans-serif;
$font-size-large: 14px;
$font-size-normal: 13px;
$font-size-small: 12px;
