#path {
  background: RGBA(255, 255, 255, .5);
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  padding: 5px 0;
  font-size: $font-size-normal !important;
  white-space: nowrap;
  text-align: center;
  z-index: 9;
  min-height: 35px;
  .content {
    position: relative;
    padding-right: $padding + 80px;
    padding-left: $padding;
  }
  .active {
    font-weight: bold;
    line-height: 1.5rem;
  }
  button {
    border: none;
    position: relative;
    @include border-radius(5px);

    &:focus {
      outline: 0;
    }
    .path-tip {
      line-height: 1;
      padding: 12px;
      background: rgba(0, 0, 0, 0.8);
      color: #fff;
      font-size: $font-size-small;
      border-radius: 3px;
      position: absolute;
      z-index: 999;
      left: 50%;
      top: 100%;
      margin-top: 10px;
      visibility: hidden;
      opacity: 0;
      @include transition(opacity 200ms ease-out);

      &:after {
        box-sizing: border-box;
        display: inline;
        font-size: 10px;
        width: 100%;
        line-height: 1;
        color: rgba(0, 0, 0, 0.8);
        content: "\25B2";
        position: absolute;
        left: 0;
        margin-left: -25%;
        top: -8px;
        margin: -1px 0 0 0;
        text-align: center;
      }
    }
    &.show-tip .path-tip {
      visibility: visible;
      opacity: 1;
    }
  }
  .divider {
    padding-right: .45em;
    padding-left: .45em;
    color: rgba(0,0,0,0.5);
    @extend .icon-angle-right;
  }
}