#sidebar {
  $box-shadow: 30px;
  $width: 250px;
  position: absolute;
  background: #f3f3f3;
  @include transition(200ms ease-out all);
  top: 0;
  right: 0;
  width: $width;
  height: 100vh;
  z-index: 99;
  @include box-shadow($box-shadow 0 $box-shadow $box-shadow rgba(0,0,0,.2));
  @include transform(translateX(+ $width + $box-shadow));
  @include transition(translateX 200ms ease-out);

  &.show {
    @include transform(translateX(0));
  }
  header {
    max-height: 50px;
    background: white;
    padding: 5px $padding;
  }

  .searchbar {
    background: white;
    padding: 5px $padding $padding;
    border-bottom: 1px solid #ccc;
    .icon-search {
      position: absolute;
      margin-left: $padding;
      margin-top: 1px;
      color: #ccc;
    }
  }

  .content {
    position: relative;
    z-index: 99;
    width: 100%;
    overflow: hidden;

    #nodelist {
      background: #fff;
      .listitem {
        padding: $padding;
        position: relative;
        margin-bottom: 1px;
        cursor: pointer;
        font-size: 13px;
        @include transition(box-shadow 100ms ease-out);
        &:hover {
          background: #fff !important;
          z-index: 9999;
        }

        &.active {
          background: #BDDBFB !important;
        }

        &.hide {
          display: none;
        }
      }
      &.show {
        display: block;
      }
      &.hide {
        display: none;
      }
    }

    #settings {
      background: $grey;
      padding: $padding;
      top: 0;
      position: absolute;
      width: 100%;
      opacity: 1;
      font-size: 13px;
      bottom: 0;
      @include transition(top 200ms ease-out);
      @include slideOutDown($duration: 300ms);
      z-index: 999;
      .option {
        display: block;
        height: 25px;
        position: relative;
        width: 100%;

        .range-field {
          position: relative;
          margin: $padding 0;
        }

        input[type=range] {
          width: 175px;
          display: inline-block;
        }
        output {
          right: 0;
          bottom: 0;
          margin-bottom: -4.5px;
          @-moz-document url-prefix() {
            margin-bottom: 1.5px;
          }
          &:before {
            right: 52px;
          }
        }
      }

      .heading {
        &:not(:first-child) {
          border-top: 1px solid darken($grey, 10%);
          margin-top: $padding;
        }
        padding: $padding 0;
        font-weight: bold;
      }

      &.show {
        @include slideInUp($duration: 300ms);
      }
    }
  }


  footer {
    .icon-share-alt {
      position: absolute;
      margin-left: $padding;
      margin-top: 1px;
      color: #ccc;
    }
    input {
      width: 85%;
    }
    max-height: 50px;
    background: white;
    padding: 5px $padding;
    z-index: 999;
    position: relative;
    border-top: 1px solid #ccc;

    .icon-cog {
      width: 30px;

    }
    #openSettings {
      &.active {
        background: $green;
        border-color: $green;
        color: white;
        &:before {
          @include rotate($duration: 500ms);
        }
      }
    }
  }

}