input[type=button], input[type=submit], button, .button {
  border: none;
  color: #000;
  background: rgba(255, 255, 255, .7);
  border-radius: 5px;
  @include box-shadow(0 1px 4px -2px rgba(0,0,0,.6));
  font-size: $font-size-small;
  white-space: nowrap;
  vertical-align: middle;
  text-decoration: none;
  display: inline-block;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  line-height: 1;
  @include user-select();

  height: 25px;

  &:before {
    @include box-sizing(border-box);
  }
  &:after {
    @include box-sizing(border-box);
  }

  &:hover:not(:disabled):not(.active) {
    background: #fff;
  }

  &:disabled {
    opacity: 0.3;
    cursor: no-drop;
  }

  &:focus {
    outline: 0;
  }

  &.active {
    background: $green;
    color: white;
    @include box-shadow(none);
    border-color: $green;
    opacity: .8;
    &:hover {
      opacity: 1;
      background: $green;
    }
  }
}