html, body {
  height: 100%;
  font-family: $font-family;
  @include font-feature-settings('liga' 1, 'onum' 1, 'kern' 1, 'smcp' 1);
  font-weight: 350;
}

body {
  background: $grey;
  margin: 0;
  padding: 0;
  overflow: hidden;
}