input[type=text] {
  font-size: 13px;
  width: 100%;
  @include border-radius(20px);
  border: 1px solid #ccc;
  padding: 2px $padding 2px 25px;
  box-sizing: border-box;

  &:focus {
    outline: 0;
    border-color: $green;
  }
}

input {
  outline: 0;
}